// ===== CONFIG ===== //
$dark: #141416;
$gray: #474d54;
$red: #ed1c24;
$green: #1f5d6a;
$blue: #3aa6bd;
$bcg-color: #f6f6f6;

// ===== FONTS ===== //
$openSans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// ===== TRANSITION ===== //
$linear: all 0.4s linear;
$ease-in-out: all 0.4s ease-in-out;

// ===== SET TEXT COLOR ===== //
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return $dark;
  } @else {
    @return #fff;
  }
}

// ===== SET TEXT COLOR BASED ON BACKGROUND ===== //
@mixin set-background($color) {
  background-color: ($color);
  color: set-text-color($color);
}

// ===== FLEXBOX ===== //
@mixin flexBox($content, $align) {
  display: flex;
  justify-content: $content;
  align-items: $align;
}

// ===== WRAPPER ===== //
@mixin wrapper($width, $margin) {
  width: 100%;
  max-width: $width;
  margin: $margin;
}

// ===== CLEARFIX ===== //
@mixin clearFix {
  content: '';
  display: block;
  clear: both;
}

// ===== MEDIA QUERY ===== //
// MOBILE
@mixin mobile($width: 500px) {
  @media (min-width: $width) {
    @content;
  }
}

// TABLET
@mixin tablet($width: 768px) {
  @media (min-width: $width) {
    @content;
  }
}

// LAPTOP
@mixin laptop($width: 1024px) {
  @media (min-width: $width) {
    @content;
  }
}

// LAPTOP
@mixin desktop($width: 1200px) {
  @media (min-width: $width) {
    @content;
  }
}
